/* common */
p {
	margin: 0;
	color: white;
}
:root {
	--main-outline: 2px solid red;
	--button-firstColor: #f2f5f6;
	--button-secondColor: #e3eaed;
	--button-thirdColor: #96a1a5;
	--main-toppage-color:rgba(0, 60, 71, 1);
}
body {
color: #e6eced;
  /* background: #003c47; */
margin: 0;
}


html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}
a{
text-decoration: none;
}
li {
	list-style: none;
}

.container {
	max-width: 1100px;
}

.error {
	padding: 20px 0;
	color: #ff6900;
	font-size: 2.0rem;
}

.letter_size_big{
    font-size: 2.7rem;
    line-height: 3.0rem;
}
.letter_size_middle{
    font-size: 1.5rem;
}

/* end od common */

/* modal */
.my_mask{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.my_mask.my_hidden{
    display: none;
}
.my_modal{
    background: rgba(0, 60, 71, 0.8);
	color: #000;
    width: 70%;
	height: 70%;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
	position: fixed;
    top: 50%;
	transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;

    transition: transform 0.2s;
    z-index: 2;
}
.my_modal.my_hidden{
    transform: translate(0,-5000px);
}
/* end of modal  */

/* header */
.header_container {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	/* outline: var(--main-outline); */
	padding-top: 8px;
	background-color: var(--main-toppage-color);
}
.header_container img {
	width: 100px;
	height: auto;
	filter: brightness(130%) saturate(230%);
}
.header_container p {
	margin-top: 8px;
	padding-bottom: 8px;
}

/*  end of header */
/* footer */
footer {
	text-align: center;
	background: #f5f5f7;
	padding: 40px;
	color: #939397;
	width: 100%;
}
.footer_line {
	width: 100%;
	height: 1px;
	background: #939397;
	margin: 10px 0;
}
/* end of footer */

/* top_page */
.top_container {
	background-color: var(--main-toppage-color);
}
/* first_view & diag_desc*/
.first_view {
	background: url(../img/shaking-hands-gd698e3efb_1920.jpg);
	background-size: cover;
  background-position: top;
  background-attachment: fixed;
  /* opacity: .5; */
	height: 80vh;
	/* border-radius: 10px; */
  width: 100%;
  position: relative;
}
.first_view::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(180deg, transparent 0 60%, #FFF 100%);
}

.first_view h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
/* width: 100%; */
font-size: 4.0rem;
line-height: 2rem;
margin: 0 ;
padding: 10px 10px;
color: white;
background-color: rgba(0, 60, 71, 0.8);
border-radius: 10px;
}
.first_view br {
    display: block;
    content: "";
    margin: 20px 0;
    }
.diag_desc{
	padding:  40px 0;
}
.diag_desc p{
text-align: left;
}
.diag_deac_title p{
	font-size: 2.7rem;
	letter-spacing: 0.2rem;
	line-height: 3.0rem;
}
.diag_deac_detail{
	/* outline: var(--main-outline); */
	text-align: left;
}
.diag_deac_detail p{
	font-size: 1.5rem;
	/* transform: scale(0.8); */
/* transform-origin:0 0; */
line-height: 2.2rem;
letter-spacing: .2rem;
}


/* end of first_view & diag_deac*/
/* question */
.question {
	/* outline: var(--main-outline); */
	height: 60vh;
	transition: .3s ease;
}

.question_stmt {
	/* outline: var(--main-outline); */
	opacity: 0;
	transition: .5s;
	transform: translateX(50px);
}

.question_stmt.show {
	opacity: 1;
	transform: none;
}

.question_choices {
	opacity: 0;
	transition: 1s;
	transform: translateY(50px);
}

.question_choices.show {
	opacity: 1;
}

.question_stmt p {
	font-size: 2.0rem;
	text-align: left;

}
.question ul {
	padding: 0;
	/* outline: var(--main-outline); */
	display: flex;
	flex-direction: column;
	/* flex-direction: column; */
}

.question ul li {
	/* outline:var(--main-outline); */
	height: 50px;
	line-height: 50px;
	font-size: 2rem;
	border-bottom: rgba(255,255,255,0.1) solid 1px;
	text-align: left;
}
.question ul li input{
	margin-right: 10px;
}
.question ul li + li {
	margin-top: 40px;
}

/* end of question */
/* name */
.name {
	position: relative;
	margin: 40px auto;
}
.name p {
	line-height: 16px;
	font-size: 1.6rem;
	padding-bottom: 16px;
	text-align: left;
}
.name input[type="text"] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	/* padding: 0.3em; */
	transition: 0.5s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
	box-shadow: 0 0 5px gray;
}
.name input[type="text"]:focus {
	border-color: rgba(6, 6, 167, 0.8);
}
.name input[type="text"] {
	padding-left: 40px;
}
/* 参考サイト https://copypet.jp/692/ */
.name i {
	position: absolute;
	top: 36px;
	left: 8px;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.name input[type="text"]:focus + i {
	color: rgba(6, 6, 167, 0.8);
}
/*  end of name */
/* sumbit */
/* .submit p{

} */

/* 診断ボタンのcss */
/* 参考サイト　https://jajaaan.co.jp/css/button/ */

.submit p{
margin: 8px 0;
font-size: 2rem;

}
.submit input{
	margin-bottom: 40px;
}
/* .diag_btn input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #2285b1;
}

.diag_btn input::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.diag_btn input:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.diag_btn input:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
} */
.diag_btn {
  /* border-radius : 10%;          角丸       */
  font-size     : 2rem;        /* 文字サイズ */    	 /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 24px;   /* 余白       */
  /* background    : rgba(6, 6, 167, 0.8);     背景色 */
  background-color: transparent;
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : 1s;         /* なめらか変化 */
  box-shadow    : 4px 4px 18px #666666;  /* 影の設定 */
  /* border        : 2px solid rgba(0, 0, 127, 0.80);    枠の指定 */
  border: 1px solid #fff;
  border-radius: 10px;
}
.diag_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #fff;     /* 背景色     */
  background    : #b0afd2;     /* 文字色     */
	border: none;
	box-shadow    : 4px 4px 18px #666666
}

/* end of sumbit */

/*    end of top_page    */






/* result_page */
.result-stmt-container{
	width: 80%;
	margin: auto;
}

/* .result_container */
.result_container {
    background-color: rgba(0, 60, 71, 1);
}
/* end of .result_container */

/* result_section */
.result_section {
	/* width: 80%; */
	/* margin: 40px auto; */
	/* outline: 2px solid skyblue; */
	font-size: 1.5em;
	padding-top: 20px;
	height: 50vh;
	padding: 20px auto 0 10%;

}
.result_section_little{
	margin: 12px auto;
	width: 80%;
	font-size: 2.0rem;
}

.count_up{
    animation: 3s fadeIn;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    /* 0⇨100%の時、0%-99%の間は以下を適用
    99%{
        color: red;
    } */
    100%{
        opacity: 1;
        transform: none;
    }
}


/* result_stmt */
/* .result_stmt {
	text-align: center;
    flex-direction: column;
    vertical-align: middle;
} */

.result_title {
/* height: 80vh; */
padding: 100px 0 ;
}

.result_wrapper {
	align-items: center;
	height: 100%;
}

.result_stmt_box {
    text-align: left;
}
.result_stmt p {
	/* padding-left: 10%; */
    text-align: left;
    /* display: inline-block; */
}
.persent {
	text-align: left;
	font-size: 2.0em;
	font-size: 72px;
}
.result_stmt section {
    font-size: 4.0em;
    /* display: inline-block; */
}

/* end of result_stmt */

/* result_desc */
.result_desc {
	padding: 10px 0;
    /* vertical-align: middle;
    width: 50%; */
    /* margin: auto 0; */
}
.result_desc p {
    text-align: left;
}
/* end of result_desc */

.results {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

/* share_buttons */
/* .share_buttons {
	/* width: 100%; */
/* } */

.share_buttons {
	padding-right: 0;
	padding-left: 0;
}
.share_sentence p{
font-size: 1.6rem;
color: white;
margin-bottom: 16px;
}

.twitter {
	background: #6174A2;
	width: 90%;
	margin-bottom: 10px;
	margin-left: 0;
	margin-right: auto;
}
.other_buttons {
	display: flex;
	gap: 10px;
	width: 90%;
	margin: 0 auto 0 0;
}
.other_buttons a{
	width: 50%;
}
.line {
	background: #3D783B;
}
.facebook {
	background: #5257A4;
}
.twitter,
.line,
.facebook {
	border-radius: 12px;
	text-align: center;
}
.share_buttons img {
	width: 50px;
	height: 50px;
}

/* end of share_buttons */

/* case_desc */

.case_desc {
	padding-right: 0;
	padding-left: 0;
}

.case_desc p{
	text-align: left;
}
.case_desc_title p{
	/* font-size: 2.0rem; */
	letter-spacing: .2rem;
	/* line-height: 2.4rem; */
}
.case_desc_detail p{
	font-size: 1.7rem;
	transform: scale(0.8);
	transform-origin:0 0;
line-height: 2.2rem;
letter-spacing: .2rem;
}

/* .diag_desc{
	display: flex;
	width: 85%;
	margin: 40px auto;
}
.diag_desc p{
text-align: left;
}
.diag_deac_title{
	width: 40%;
}
.diag_deac_title p{
	font-size: 1.6rem;
	letter-spacing: .2rem;
	line-height: 2.4rem;
}
.diag_deac_detail{
	text-align: left;
	width: 60%;
}
.diag_deac_detail p{
	font-size: 1.2rem;
	transform: scale(0.8);
line-height: 2.2rem;
letter-spacing: .2rem;
} */

/* end of case_desc */

/* posse_desc  */
/* .posse_desc {

} */
/* .posse_desc p {
    width: 60%;
    text-align: left;
    padding: 20px 5%;
}
.invitation {
    text-align-last: left;
    font-size: 25px;
} */
.posse_desc{
	text-align: left;
}
.posse_desc p{
	letter-spacing: .2rem;
}
.invitation{
	width: 60%;
}
.invitation p{
	font-size: 2.7rem;
margin-bottom: 24px;
line-height: 3.2rem;
color: #FFB8AA;
}
.invitation_detail p{
	font-size: 1.8rem;
	line-height: 2rem;
	transform: scale(0.8);
	transform-origin:0 0;
}




/* end of posse_desc */

/* official */
/* .official img {
     width: 50%;
 } */
/* .logo-pic {
	width: 50%;
}
.official button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	cursor: pointer;
	border-radius: 30px;
	overflow: hidden;
	background-color: rgba(32, 33, 33, 1) ;
	transition: background-color 0.2s;
	/* box-shadow: 2px 2px 4px gray; */
	/* display: inline-block;
	outline: 1px solid white;
}
.official button:hover {
	background-color: rgba(255, 255, 255, 0.555);
}
.official a {
	text-decoration: none;
}
.official div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	padding-left: 5%;
}
.official p {
	display: inline-block;
	margin-top: 10px;
}
.official-pic {
	width: 35%;
	opacity: 0.6;
	transition: background-color 0.2s;
}
.official button:hover .official-pic{
	opacity: 0.3;
}
.official i {
	font-size: 25px;
}
.link_button {
	margin: 10px auto;
} */
.official_sec{
	padding-bottom: 40px;
}
.official_sec p{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 8px;
}
.official_sec a {
    text-align: center;
}
.posse_btn{
  /* background:#065563; */
  color:blanchedalmond;
  border:none;
  position:relative;
  height:60px;
  font-size: 1.6rem;
	line-height: 1.6rem;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
	margin: 0 auto ;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 20px;
}
.posse_btn:hover{
  background:rgb(216, 215, 215);
  color:#3B3A3B;
}
.posse_btn:before, .posse_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #3B3A3B;
  transition:400ms ease all;
}
.posse_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.posse_btn:hover:before, .posse_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}
.posse_btn a{
	width: 100%;
}
/* jquery */
.box {
	width: 100%;
	/* max-width: 500px; */
	/* margin: 40px auto; */
	padding: 20px 20px 0;
	color: #a8aabc;
	box-sizing: border-box;
	/* box-shadow: 2px 2px 5px 0px rgba(200,200,200,1); */
	/* background-color: #ffffff; */
}

.fadeIn {
	transform: translate3d(0, -10px, 0);
	transition: 3s;
	opacity: 0;
}
.fadeIn.animated {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}




/* end of official */

/* end of result_page */


/*  */
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	.first_view h1{

		top: 55%;
		transform: translateY(-50%);
	width: 100%;
	font-size: 1.6rem;
	line-height: 2rem;
	margin: 0;
	}
.diag_desc{
	display: block;
	/* width: 100%; */
	/* margin: 40px auto; */
	height: 60vh;

}
.diag_deac_title{
	width: 100%;
	margin-bottom: 24px;
}
/* .diag_deac_title p{
	font-size: 2rem;
	letter-spacing: .2rem;
	line-height: 2.4rem;
} */
.diag_deac_detail{
	/* outline: var(--main-outline); */
	/* text-align: left; */
	width: 100%;
}
.diag_deac_detail p{
	font-size: 1rem;
line-height: 2rem;
letter-spacing: .2rem;
transform: scale(0.8);
transform-origin:0 0;
}
.name {
	width: 70%;
	margin: 40px auto;
}
.name p {
	line-height: 16px;
	font-size: 1.6rem;
	padding-bottom: 16px;
	text-align: left;
}
.name input[type="text"] {
	/* font: 15px/24px sans-serif; */
	font-size: 12px;
	box-sizing: border-box;
	width: 100%;
	/* padding: 0.3em; */
	transition: 0.5s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}




/* result */
.case_desc{
	display: block;
}
.case_desc p{
	text-align: left;
}
.case_desc_title{
	width: 100%;
	margin-bottom: 12px;
}

.case_desc_detail{
	width: 100%;
	margin: 0;
}
.case_desc_detail p{
line-height: 1.6rem;
}

/* .posse_desc{
	/* text-align: left; */
/* } */ */
.posse_desc p{
	letter-spacing: .2rem;
}
.invitation{
	width: 100%;
}
.invitation p{
	font-size: 2.5rem;
margin-bottom: 24px;
line-height: 2.4rem;
}
.invitation_detail p{
	font-size: 1.4rem;
	line-height: 2.0rem;
	/* transform: scale(0.8); */
	/* transform-origin:0 0; */
	/* transform-origin:0 0; */
	transform: none;
}

.posse_btn{
	width: 70%;
}
.disappear{
    display: none;
}
}

/* index.htmlのタイトルのレスポンシブ対応 */
@media screen and (max-width: 1100px){
    .first_view h1{
      font-size: 3.0rem;
      }
}

@media screen and (max-width: 830px){
    .first_view h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 700px){
    .first_view h1{
        position: absolute;
        top: 30%;
        left: 50%;
        /* transform: translateY(-50%); */
        transform: translateX(-50%);
      width: 100%;
      font-size: 2.5rem;
      line-height: 2rem;
      margin: 0 ;
      padding: 10px 10px;
      color: white;
      background-color: rgba(0, 60, 71, 0.8);
      border-radius: 10px;
      }

}
@media screen and (max-width: 350px){
    .first_view h1 {
        font-size: 2.0rem;
    }
    .first_view br {
        display: block;
        content: "";
        margin: 20px 0;
        }
}
