/* common */
p {
    margin: 0;
}


/* end od common */
/* header */

/*  end of header */
/* footer */
footer{
    text-align: center;
    background: #F5F5F7;
    padding: 40px;
    color: #939397;
}
.footer_line{
    width: 100%;
    height: 1px;
    background: #939397;
    margin: 10px 0;
}
/* end of footer */


/* top_page */


/* first_view & diag_desc*/

/* end of first_view & diag_deac*/
/* question */

/* end of question */
/* name */

/*  end of name */
/* sumbit */

/* end of sumbit */

/* end of top_page */


/* result_page */

/* .result-container */
.result-container{
    outline: 2px solid red;
}
/* end of .result-container */

/* result-stmt */

/* end of result-stmt */

/* result-desc */

 /* end of result-desc */

 /* share-buttons */

 /* end of share-buttons */

 /* case-desc */

 /* end of case-desc */

 /* posse-desc  */

 /* end of posse-desc */

 /* official */

 /* end of official */








/* end of result_page */